body {
    background-color: #FFF9F4;
    max-width: 13cm;
  }
.float{
  float: right;
}
img {
  border: 0;
  width: 250px;
}
#om{
  color: black;
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  text-decoration: none;
}

#om:hover{
  background-color: rgb(102, 201, 234);
}

#om:active{
  border-width: 4px;
}